*{
    margin:0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.button1{
    font-size: 20px;
    margin-top: 25px;
    margin-left:40px ;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: orange;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background: black;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: white;
    padding-left: 50px;
    box-sizing: border-box;
}

ul li:hover a{
    font-size:30px ;
    padding-left:55px ;
}

.button2{
    font-size: 20px;
    margin-top: 25px;
    margin-left:40px ;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: orange;
}

.container{
    background-image: url('./bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    height: 105vh;
    margin-left: 20%;
    width: 105%;
}

.container h1{
    color: white;
    margin-left: 5%;
    padding-top: 30px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container h2{
    color: orange;
    margin-left: 5%;
    padding-top: 15px;
    font-size: 30px;
}

